@charset "UTF-8";



.container {
    display: grid;
    grid-template-rows: 100px 50px 200px 50px;
    grid-template-columns: 500px 250px;
    gap: 5px;
}

.caixa {
    background-color: lightgray;
    border: 1px solid black;
}

#topo {
    grid-area: 1 / 1 / 2 / -1;
}

#menu {
    
}

#principal {
    
}

#secundario {

}

#rodape {
    
}